.pad{
  padding-right: 50px;
  padding-left: 50px;
}

#splashpage {
  position: relative;
  text-align: center;
  color: white;
}

/* Bottom left text */
.bottom-left {
  position: absolute;
  bottom: 8px;
  left: 16px;
}

/* Top left text */
.top-left {
  position: absolute;
  top: 8px;
  left: 16px;
}

/* Top right text */
.top-right {
  position: absolute;
  top: 8px;
  right: 16px;
}

/* Bottom right text */
.bottom-right {
  position: absolute;
  bottom: 8px;
  right: 16px;
}

/* Centered text */
.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.centered-high {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.hero {
  position: relative;
  overflow-x: hidden;
  overflow-y: hidden;
  height: 640px;
  max-width: -webkit-fill-available;
}



.container {
  width: 100%;
  height: auto;
  max-width: 100%;
}

.two-column {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 1fr;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  }

img {
    width:100%;
    height:100%;
    object-fit:cover;
}

.container-img {
  position: relative;
}

.strokeme
{
    color: white;
    text-shadow:
    -2px -2px 0 #000,
    2px -2px 0 #000,
    -2px 2px 0 #000,
    2px 2px 0 #000;  
}

.white {
  background-color: white;
}

.shadow {
  box-shadow: 5px;
}

.black-text {
  color: #000;
}

.center-grid {
  display: grid;
  justify-content: center;
  align-content: center;
}